@{
    Layout = "_Layout";
}

@model IEnumerable<Entities.DB.CustomerModel>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

    <style>
        table, th, td {
            border: 2px solid DodgerBlue;
            background-color: #F0F8FF;
            font-size: 15px;
        }

        th, td {
            padding: 3px;
        }

        th, td {
            text-align: center;
        }

        .button {
            position: relative;
            background-color: #4CAF50;
            border: none;
            font-size: 28px;
            color: #FFFFFF;
            padding: 20px;
            width: 200px;
            text-align: center;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

            .button:after {
                content: "";
                background: #90EE90;
                display: block;
                position: absolute;
                padding-top: 300%;
                padding-left: 350%;
                margin-left: -20px !important;
                margin-top: -120%;
                opacity: 0;
                transition: all 0.8s
            }

            .button:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s
            }
    </style>
</head>

<div class="row">

    <div class="col-md-12">
      <h4 class="bg-light py-4 text-info"><center><i class="fa fa-leaf"></i>Customer<i class="fa fa-leaf"></i></center></h4>

      <a href="/Customer/Create" class="btn btn-success btn-lg text-white justify-content-center"><i class="fas fa-plus-circle"></i>Create</a>
      <table style="width:100%">
          <tbody>
              <tr>
                <th>Id</th>
                <th>First_Name</th>
                <th>Last_Name</th>
                <th>Birthday</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address1</th>
                <th>Address2</th>
                <th>City</th>
                <th>State</th>
                <th>Postal_Code</th>
                <th>Country</th>
                <th>Phone_Number</th>
                <th>Email</th>
                <th>Voice_Mail</th>
                <th>Password</th>
                <th>Name_on_Card:</th>
                <th>Credit_Card_Number:</th>
                <th>CVV</th>
                <th>Card_Exp_Month</th>
                <th>Card_Exp_Year</th>
                <th>Billing_Person_Name</th>
                <th>Billing_Address</th>
                <th>Billing_City</th>
                <th>Billing_State</th>
                <th>Billing_PostalCode</th>
                <th>Billing_Country</th>
                <th>Shipping_Address</th>
                <th>Shipping_City</th>
                <th>Shipping_State</th>
                <th>Shipping_PostalCode</th>
                <th>Shipping_Country</th>
                <th>Date_Entered</th>
                <th>Actions</th>
              </tr>
              @foreach (var p in Model)
              {
              <tr>
                    <td>@p.Id</td>
                    <td>@p.First_Name</td>
                    <td>@p.Last_Name</td>
                    <td>@p.Birthday</td>
                    <td>@p.Age</td>
                    <td>@p.Gender</td>
                    <td>@p.Address1</td>
                    <td>@p.Address2</td>
                    <td>@p.City</td>
                    <td>@p.State</td>
                    <td>@p.Postal_Code</td>
                    <td>@p.Country</td>
                    <td>@p.Phone_Number</td>
                    <td>@p.Email</td>
                    <td>@p.Voice_Mail</td>
                    <td>@p.Password</td>
                    <td>@p.Name_on_Card</td>
                    <td>@p.Credit_Card_Number</td>
                    <td>@p.CVV</td>
                    <td>@p.Card_Exp_Month</td>
                    <td>@p.Card_Exp_Year</td>
                    <td>@p.Billing_Person_Name</td>
                    <td>@p.Billing_Address</td>
                    <td>@p.Billing_City</td>
                    <td>@p.Billing_State</td>
                    <td>@p.Billing_PostalCode</td>
                    <td>@p.Billing_Country</td>
                    <td>@p.Shipping_Address</td>
                    <td>@p.Shipping_City</td>
                    <td>@p.Shipping_State</td>
                    <td>@p.Shipping_PostalCode</td>
                    <td>@p.Shipping_Country</td>
                    <td>@p.Date_Entered</td>
                      
                      <td>
                          <a href="/Customer/Edit?Id=@p.Id" class="btn btn-warning btn-lg text-white justify-content-center"><i class="fas fa-edit"></i>Edit</a>
                          <small> &nbsp; | &nbsp;</small>
                          <a href="/Customer/Delete?Id=@p.Id" class="btn btn-danger btn-lg text-white justify-content-center"><i class="fas fa-trash-alt">Delete</a>
                      </td>

                </tr>
              }
          </tbody>
      </table>
    </div>
</div>