@{
    Layout = "_Layout";
}

@model IEnumerable<AdminPortal.Models.ProductModel>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />

    <style>
        table, th, td {
            border: 2px solid DodgerBlue;
            background-color: #F0F8FF;
            font-size: 28px;
        }

        th, td {
            padding: 5px;
        }

        th, td {
            text-align: center;
        }

        .button {
            position: relative;
            background-color: #4CAF50;
            border: none;
            font-size: 28px;
            color: #FFFFFF;
            padding: 20px;
            width: 200px;
            text-align: center;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

            .button:after {
                content: "";
                background: #90EE90;
                display: block;
                position: absolute;
                padding-top: 300%;
                padding-left: 350%;
                margin-left: -20px !important;
                margin-top: -120%;
                opacity: 0;
                transition: all 0.8s
            }

            .button:active:after {
                padding: 0;
                margin: 0;
                opacity: 1;
                transition: 0s
            }
    </style>
</head>

<div class="row">

    <div class="col-md-12">
      <h2 class="bg-light py-4 text-info"><center><i class="fa fa-leaf fa-3x"></i>Products</center></h2>

      <a href="/Product/Create" class="btn btn-success btn-lg text-white justify-content-center"><i class="fas fa-plus-circle"></i>Create</a>
      <table style="width:100%">
          <tbody>
              <tr>
                  <th>Id</th>
                  <th>SKU</th>
                  <th>IdSKU</th>
                  <th>Vendor_ProductID</th>
                  <th>Product_Name</th>
                  <th>Product_Description</th>
                  <th>SupplierID</th>
                  <th>CategoryID</th>
                  <th>Quantity_Per_Unit</th>
                  <th>Unit_Price</th>
                  <th>MSRP</th>
                  <th>Availale_Size</th>
                  <th>Available_Colors</th>
                  <th>Size</th>
                  <th>Colors</th>
                  <th>Discount</th>
                  <th>Unit_Weight</th>
                  <th>Units_in_Stock</th>
                  <th>Units_On_Order</th>
                  <th>Reorder_Level</th>
                  <th>Product_Available</th>
                  <th>Discount_Available</th>
                  <th>Current_Order</th>
                  <th>Picture</th>
                  <th>Ranking</th>
                  <th>Note</th>
                  <th>Actions</th>
              </tr>
              @foreach (var p in Model)
              {
                  <tr>
                      <td>@p.Id</td>
                      <td>@p.SKU</td>
                      <td>@p.IdSKU</td>
                      <td>@p.Vendor_ProductID</td>
                      <td>@p.Product_Name</td>
                      <td>@p.Product_Description</td>
                      <td>@p.SupplierID</td>
                      <td>@p.CategoryID</td>
                      <td>@p.Quantity_Per_Unit</td>
                      <td>@p.Unit_Price</td>
                      <td>@p.MSRP</td>
                      <td>@p.Availale_Size</td>
                      <td>@p.Available_Colors</td>
                      <td>@p.Size</td>
                      <td>@p.Colors</td>
                      <td>@p.Discount</td>
                      <td>@p.Unit_Weight</td>
                      <td>@p.Units_in_Stock</td>
                      <td>@p.Units_On_Order</td>
                      <td>@p.Reorder_Level</td>
                      <td>@p.Product_Available</td>
                      <td>@p.Discount_Available</td>
                      <td>@p.Current_Order</td>
                      <td>@p.Picture</td>
                      <td>@p.Ranking</td>
                      <td>@p.Note</td>
                      <td>
                          <a href="/Product/Edit?Id=@p.Id" class="btn btn-warning btn-lg text-white justify-content-center"><i class="fas fa-edit"></i>Edit</a>
                          <small> &nbsp; | &nbsp;</small>
                          <a href="/Product/Delete?Id=@p.Id" class="btn btn-danger btn-lg text-white justify-content-center"><i class="fas fa-trash-alt">Delete</a>
                      </td>

                  </tr>
              }
          </tbody>
      </table>
    </div>
</div>